body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: hsl(0, 0%, 10%);
  padding: 18px;
}

nav a {
  text-decoration: none;
  color: hsla(0, 0%, 70%);
  padding: 12px 24px;
}

nav a:hover {
  color: hsla(0, 0%, 100%);
}

#nav-container {
  max-width: 800px;
  margin: auto;
}

#container {
  max-width: 800px;
  margin: auto;
  padding: 12px 24px;
}
